@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 20px;
    background-image: url("https://images.unsplash.com/photo-1566526637242-ec13c43bc455?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-size: cover;
    background-attachment: fixed;
}

#editModal, #deleteListModal, #newTagModal, #applyTagModal  {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px;
    color: white;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container {
    padding: 10px;
    background: rgba(0, 0, 0, 0.85);
    font-family: 'Lexend Deca', sans-serif;
}

button {
    padding: 6px 12px;
    background: rgba(255, 255, 255, 0.45);
    border: none;
    border-radius: 100px;
    background: white;
    color: black;
    font-family: 'Lexend Deca', sans-serif;
    outline: none;
}


input, select {
    padding: 6px 12px;
    background: rgba(255, 255, 255, 0.45);
    border: none;
    border-radius: 100px;
    background: white;
    color: black;
    font-family: 'Lexend Deca', sans-serif;
    float: left;
    margin: 1px 8px 1px 0;
}

h1 {
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    margin: 0 0 10px;
    font-size: 24px;
}

ul {
    padding: 10px;
    background: rgba(0, 0, 0, 0.85);
    font-family: 'Lexend Deca', sans-serif;
}

ul li {
    padding: 10.5px 2px 10.5px 10px;
    background: rgba(0, 0, 0, 0.85);
    font-family: 'Lexend Deca', sans-serif;
    display: block; 
    color: white;
    width: 100%;
    margin: 10px 0;
}

ul li.star {
    outline: rgb(0, 56, 139) 1px solid;
}

ul li.completed {
    color: grey;
}

li button, li select {
    float: right;
    margin-right: 8px;
}

li:after {
    content: '';
    display: table;
    clear: both;
}

li span {
    word-wrap: break-word;
    display: inline;
    float: left;
    min-width: 480px;
}

.btngroup {
    display: inline-block;
    float: right;
    margin-left: 16px;
    min-width: 680px;
}

#listContainer {
    white-space: nowrap;
}


.color {
    width: 40px;
    height: 40px;
    background: black;
    display: inline-block;
    border-radius: 50%;
    margin: 0 0 4px;
}

.tag {
    font-family: 'Lexend Deca', sans-serif;
    display: inline-block;
    color: white;
    padding: 9px 16px;
    border-radius: 1000px;
    text-transform: capitalize;
    background: black;
    font-size: 18px;
    float: left;
}

#red {
    background: rgb(231, 38, 38);
}

#scarlet {
    background: rgb(241, 69, 38);
}

#orange {
    background: rgb(241, 115, 42);
}

#yellow {
    background: rgb(246, 166, 16);
}

#lime {
    background: rgb(87, 189, 19);
}

#green {
    background: rgb(11, 168, 19);
}

#blue {
    background: rgb(30, 127, 218);
}

#indigo {
    background: rgb(92, 39, 238);
}

#purple {
    background: rgb(108, 9, 200);
}

#pink {
    background: rgb(226, 35, 178);
}

#hotpink {
    background: rgb(245, 16, 130);
}

#black {
    background: rgb(20, 20, 20);
}

#grey {
    background: rgb(128, 128, 128);
}

#brown {
    background: rgb(121, 76, 37);
}

.tag div {
    display: inline-block;
}

