@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

#cabins {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cabin {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(32, 33, 36, .28);
}

.image {
    display: block;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(32, 33, 36, .28);
}

h1, h2, h3 {
    margin: 0 0 8px;
    font-family: 'Roboto', sans-serif;
}

h3.desc {
    line-height: 30px;
}

h1 {
    padding-bottom: 4px;
    border-bottom: 4px rgb(154, 252, 229) solid;
}

a {
    font-family: 'Roboto', sans-serif;
    display: block;
    text-align: center;
    padding: 16px;
    font-size: 18px;
    border-radius: 100px;
    margin: 20px 0 10px;
    background: rgb(154, 252, 229);
    box-shadow: 0 2px 8px 0 rgba(32, 33, 36, .28);
    transition: .2s;
}

a:hover {
    background: rgb(200, 255, 242);
}

nav {
    padding: 10px;
    display: block;
    box-shadow: 0 2px 8px 0 rgba(32, 33, 36, .28);
}

nav div {
    float: left;
    padding: 8px;
    border-right: 1px rgb(216, 216, 216) solid;
}

nav::after {
    display: table;
    content: '';
    clear: both;
}

nav select {
    font-family: 'Roboto', sans-serif;
    border-radius: 100px;
    padding: 8px;
    font-size: 18px;
    margin: 0;
}

@media (max-width: 1200px) {
    #cabins {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 800px) {
    #cabins {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 680px) {
    #cabins {
        display: grid;
        grid-template-columns: 1fr;
    }
}